name: CI Test

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v6
        name: Checkout code
      - name: Start Besu service
        run: |
            docker run -d \
            --name besu \
            -u root \
            -e BESU_GENESIS_FILE=/var/lib/besu/genesis.json \
            -e BESU_DATA_PATH=/var/lib/besu/data \
            -e BESU_HOST_ALLOWLIST="*" \
            -e BESU_RPC_WS_ENABLED="true" \
            -e BESU_RPC_WS_HOST="0.0.0.0" \
            -e BESU_RPC_HTTP_HOST="0.0.0.0" \
            -e BESU_RPC_HTTP_ENABLED="true" \
            -e BESU_RPC_HTTP_CORS_ORIGINS="*" \
            -e BESU_RPC_HTTP_API="ADMIN,ETH,NET,WEB3,IBFT" \
            -e BESU_RPC_WS_API="ADMIN,ETH,NET,WEB3,IBFT" \
            -v ${{ github.workspace }}/besu:/var/lib/besu/data \
            -v ${{ github.workspace }}/genesis.json:/var/lib/besu/genesis.json \
            -v ${{ github.workspace }}/key:/var/lib/besu/key \
            -p 8545:8545 \
            -p 8546:8546 \
            -p 8547:8547 \
            -p 30303:30303 \
            hyperledger/besu:26.1.0
      - name: Start Explorer service
        run: |
            docker run -d \
              --name explorer \
              -e APP_NODE_URL="http://127.0.0.1:8545" \
              -p 8080:80 \
              alethio/ethereum-lite-explorer
              sleep 30
      - name: Get besu logs
        run: |
          docker logs besu || true
          docker logs explorer || true
      - name: Check status of besu container
        run: |
          docker ps -a  # Показывает все контейнеры
          docker inspect besu | jq '.[0].State'
          docker inspect explorer | jq '.[0].State'
      - uses: actions/setup-node@v6
        name: Use Node.js ${{ matrix.node-version }}
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install
        run: npm i
      - name: check lint
        run: npm run lint
      - name: npm test
        run: npm run test
